<a href="https://colab.research.google.com/github/gwanghyun0108/colab/blob/main/lesson1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 2장

In [11]:
a=int(input("첫번째 숫자 입력 ==>"))
b=int(input("두번째 숫자 입력 ==>"))

print(a, "+", b, "=", a+b)
print(a, "-", b, "=", a-b)
print(a, "*", b, "=", a*b)
print(a, "/", b, "=", a/b)

첫번째 숫자 입력 ==>100
두번째 숫자 입력 ==>200
100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

input()함수 예제

In [4]:
num1 = input("첫번째 숫자 입력 ==>")
num2 = input("두번째 숫자 입력 ==>")
result = num1 + num2
print(num1, "+", num2, "=", result)

첫번째 숫자 입력 ==>100
두번째 숫자 입력 ==>200
100 + 200 = 100200

문자열 예제

In [17]:
a=input("이름을 입력하세요 : ")
b=input("전화번호를 입력하세요 : ")

print("제 이름은", a,"이고, 연락처는", b,"입니다")

이름을 입력하세요 : 신광현
전화번호를 입력하세요 : 010-1245-1234
제 이름은 신광현 이고, 연락처는 010-1245-1234 입니다

In [19]:
name=input("받는사람 : ")
add=input("주소 : ")
g=int(input("무게 : "))

print("받는사람 ==>",name)
print("주소 ==>",add)
print("배송비 ==>", g * 5)

받는사람 : 신광현
주소 : 경기도 안산시 상록구 부곡동
무게 : 721
받는사람 ==> 신광현
주소 ==> 경기도 안산시 상록구 부곡동
배송비 ==> 3605

수행대비(계산기)

In [22]:
a=int(input("첫번째 숫자를 입력하세요 : "))
b=int(input("첫번째 숫자를 입력하세요 : "))

print(a, "+", b, "=", a+b)
print(a, "-", b, "=", a-b)
print(a, "*", b, "=", a*b)
print(a, "/", b, "=", a/b)
print(a, "%", b, "=", a%b)
print(a, "**", b, "=", a**b)
print(a, "//", b, "=", a//b)

첫번째 숫자를 입력하세요 : 100
첫번째 숫자를 입력하세요 : 10
100 + 10 = 110
100 - 10 = 90
100 * 10 = 1000
100 / 10 = 10.0
100 % 10 = 0
100 ** 10 = 100000000000000000000
100 // 10 = 10

거북이

In [43]:
#!pip3 install ColabTurtle
import ColabTurtle.Turtle as turtle

turtle.initializeTurtle()
turtle.forward(100)
turtle.left(143)
turtle.forward(100)
turtle.left(143)
turtle.forward(100)
turtle.left(143)
turtle.forward(100)
turtle.left(143)
turtle.forward(100)