<a href="https://colab.research.google.com/github/gwanghyun0108/colab/blob/main/section1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

파이썬 프로그래밍 1장

In [1]:
print("안산공고 컴퓨터과 3학년 2반 11번 신광현")

안산공고 컴퓨터과 3학년 2반 11번 신광현

변수 사용 예)

In [2]:
a=100
b=200
result = a+b
print(a,"+", b, "=", result)

100 + 200 = 300

In [3]:
num1 = 100
num2 = 200
result = num1 * num2
print(num1, "x", num2, "=", result)

100 x 200 = 20000

In [4]:
num1 = 100
num2 = 200
result = num1 / num2
print(num1, "/", num2, "=", result)

100 / 200 = 0.5

In [5]:
num1 = 100
num2 = 200
result = num1 - num2
print(num1, "-", num2, "=", result)

100 - 200 = -100

In [6]:
num1 = 100
num2 = 200
result = num1 // num2
print(num1, "//", num2, "=", result)

100 // 200 = 0

In [7]:
num1 = 1
num2 = 2
result = num1 % num2
print(num1, "%", num2, "=", result)

1 % 2 = 1

In [8]:
num1 = 100
num2 = 20
result = num1 ** num2
print(num1, "**", num2, "=", result)

100 ** 20 = 10000000000000000000000000000000000000000